.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}
.objectives-custom{
    width:550px;
    margin: 0 auto;
}

@media only screen and (max-width: 600px) {
  .objectives-custom{
    width:100%;
  }
}
 